@model App.Domain.Entities.Setting.Setting
<link rel="shortcut icon" type="image/png" href="/@Model.Faveicon">
<title>@Html.Raw(ViewData["Title"]) - @Html.Raw(Model.SiteName)</title>
@Html.Raw(Model.GoogleSearchConsoleTag)
@Html.Raw(Model.GoogleAnalyticsTag)