@model App.Domain.Identity.User
@{
    ViewData["Title"] = "کد تائید";
}

<div class="pageSection">
    <div class="ls-container">
        <div class="pageSection-title ls-center">@ViewData["Title"]</div>
        <div class="pageSection-content">
            @Model.FirstName @Model.LastName گرامی، حساب کاربری شما با موفقیت فعال شد.
        </div>
    </div>

</div>