@{
    ViewData["Title"] = "عدم دسترسی";
}

<div class="pageSection">
    <div class="ls-container">
        <div class="pageSection-title ls-center">@ViewData["Title"]</div>
        <div class="pageSection-content">
            کاربر گرامی حساب کاربری شما مسدود شده است.
        </div>
    </div>

</div>