@{
    ViewData["Title"] = "تائید تغییر رمز عبور";
}

<div class="pageSection">
    <div class="ls-container">
        <div class="pageSection-title ls-center">@ViewData["Title"]</div>
        <div class="pageSection-content">
            کاربر گرامی رمز عبور شما با موفقیت تغییر کرد..
        </div>
    </div>

</div>