@model App.DTOs.Account.ResetPassword
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="pageSection">
    <div class="ls-container">
        <div class="pageSection-title ls-center">@ViewData["Title"]</div>
        <div class="container-fluid">
            <form asp-route="PostResetPassword">

                <input asp-for="Key" type="hidden" />
                <input asp-for="Code" type="hidden" />

                <div class="form-group ls-right">
                    <input asp-for="Password" class="form-control" placeholder="کلمه عبور">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group ls-right">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="تکرار کلمه عبور">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="ls-center ls-btnContainer">
                    <button type="submit" class="btn btn-success">تغییر کلمه عبور</button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}