@model App.DTOs.Account.SendCode
@{
    ViewData["Title"] = "ارسال کد تائید";
}

<div class="pageSection">
    <div class="ls-container">
        <div class="pageSection-title ls-center">@ViewData["Title"]</div>
        <div class="container-fluid">
            <form asp-route="PostSendCode" asp-route-returnTo="@Model.ReturnTo">

                <input asp-for="RememberMe" type="hidden" />

                <div class="form-group ls-right">
                    <select asp-for="SelectedProvider" asp-items="Model.Providers" class="form-control"></select>
                    <span asp-validation-for="SelectedProvider" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="ls-center ls-btnContainer">
                    <button type="submit" class="btn btn-success">ارسال کد</button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}